{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/login.css">

<h3>Login to your account</h3>
<form action="/login" method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <hr>
    <button type="submit" class="btn btn-dark">Login</button>
    <span class="login-or">Or</span>
    <a class="login-with-google-btn" href="/google/auth">Login with Google</a>
    <a class="login-hint" href="/register">Don't have an account? Register here</a>
</form>
{% endblock %}