{% extends "base.html" %}

{% block title %} Set Password {% endblock %}

{% block content %}

{% if type == "set" %}
<h1>Set your password to create your account</h1>
{% elif type == "reset" %}
<h1>Reset your account password</h1>
{% endif %}
<form action="/set-password" method="POST">
    <input type="hidden" name="type" value="{{ request.args.get('type') }}">

    <div class="form-group">
        <label for="password">Enter password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-group">
        <label for="password2">Re-enter password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Re-enter password">
    </div>
    <hr>
    <button type="submit" class="btn btn-dark">Set password</button>
</form>

{% endblock %}